<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSH Vote</title>

    <!-- Stack Trace -->
    <script src="/static/js/stacktrace.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Facebook React -->
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>

  </head>
  <body>
    <div class="container">

        <div class="page-header">
            <h1>CSH VOTE</h1>
            <p class="lead text-muted">Get out the Vote!</p>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div id="categories">
                <h4>Categories</h4>
            </div>

            <div class="col-md-4"></div>
        </div>




    </div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Logic for this page -->
    <script type="text/jsx;harmony=true" src="/static/js/home.js"></script>
  </body>
</html>